@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Başlık Ekleme</h2>

@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br /><br />
        @Html.Label("Kategori")
        @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryId)
        <br /><br />
        @Html.Label("Yazar")
        @Html.TextBoxFor(x => x.WriterId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterId)
        <br /><br />
        <button class="btn btn-info">Başlığı Oluştur</button>
    </div>
}